@charset "UTF-8";

/* reset */
/* font-family: 'Nanum Myeongjo', serif; - 한글
font-family: 'Playfair Display', serif; - 영어 
font-family: 'Gowun Dodum', sans-serif; - 제품설명 한글 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #EBEBEB;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.blind {
    position: absolute;
    top: -999px;
    left: -9999px;
    text-indent: -99999999999px;
    font-size: 0;
    width: 0;
    height: 0;
}

/* 추가된 스타일 */
.showBox {
    /* 초기 상태에서 숨겨진 상태 설정 */
    opacity: 0;
    /* 투명도를 0으로 설정하여 요소를 숨김 */
    transform: translateY(10%);
    /* 요소를 세로로 10%만큼 아래로 이동시켜 숨김 */

    /* 모든 속성에 대한 전환 효과 설정 */
    transition: all .5s ease-in-out;
    /* 모든 속성에 대해 0.5초 동안의 ease-in-out 전환 효과를 부여하여 부드럽게 나타나고 사라지게 함 */

}

/* 화면에 나타날 때 적용되는 클래스 */
.showBox.on {
    opacity: 1;
    /* 투명도를 1로 설정하여 요소가 나타날 때 보이게 함 */
    transform: translateY(0);
    /* translateY를 0으로 설정하여 요소가 나타날 때 세로로 이동하지 않도록 함 */
}

#wrap {
    width: 100%;
    /* min-width: 1600px; */
}

/* ===== header ====== */
#wrap header {
    width: 100%;
    /* min-width: 1600px; */
    height: 135px;
    background-color: #fff;
    box-shadow: 0 -7px 20px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

#wrap header .headerInner {
    width: 1670px;
    height: 135px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

/* logo */
#wrap header .headerInner h1.logo a img {
    width: 70x;
    height: 49px;
    margin-top: 45px;
    margin-left: 60px;
}

#wrap header .headerInner ul li a img {
    width: 28px;
    height: 28px;
    margin-top: 53px;
}

#wrap header .headerInner ul.searchLang_r {
    display: flex;
    gap: 25px;
}

/* slide */
div#main_slides {
    /* min-width: 1600px; */
    width: 100%;
    height: 953px;
    background-color: #000;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide:nth-child(1) {
    background: url("../images/slider/main_pc_1.jpg")no-repeat center/cover;
}

.swiper-slide:nth-child(2) {
    background: url("../images/slider/main_pc_2.jpg")no-repeat center/cover;
}

.swiper-slide:nth-child(3) {
    background: url("../images/slider/main_pc_3.jpg")no-repeat center/cover;
}

.swiper-slide:nth-child(4) {
    background: url("../images/slider/main_pc_4.jpg")no-repeat center/cover;
}

.swiper-pagination {
    height: 50px;
}

/* 인디케이터 기본 */
span.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #000 !important;
}

/* 인디케이터 선택 */
span.swiper-pagination-bullet-active {
    width: 24px;
    height: 12px;
    border-radius: 50px;
    background-color: #000;
    transition: width 0.5s;
}


/* main_PD text */
.main_PD {
    width: 100%;
    height: 500px;
    position: relative;
    padding: 130px 0 0 0;
    display: block;
    background: url(../images/BG_img_02.jpg)no-repeat center/cover;
    text-align: center;
}

.main_PD h2 {
    font: 500 42px/1.2 'Playfair Display', serif;
    margin-bottom: 30px;
}

.main_PD>a {
    font: 400 20px 'Nanum Myeongjo', serif;
}

.main_PD .PDtext {
    margin-top: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
}

.PD_btn a {
    text-align: center;
    line-height: 70px;
}

.PD_btn:nth-child(1) {
    width: 310px;
    height: 70px;
    border-radius: 20px 0px 0px 20px;
    background: #000;
}

.PD_btn:nth-child(1):hover {
    border: 1px solid #fff;
    box-sizing: border-box;
}

.PD_btn:nth-child(1) a {
    color: #fff;
}

.PD_btn:nth-child(2) {
    width: 310px;
    height: 70px;
    border-radius: 0px 20px 20px 0px;
    background: #fff;
}

.PD_btn:nth-child(2):hover {
    border: 1px solid #8a8a8a;
    box-sizing: border-box;
}

.PD_btn:nth-child(2) a {
    color: #000;
}

/* wave */
.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

/* animation */
.parallax>use {
    animation: move-forever 25s cubic-bezier(0.55, .5, 0.45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* products */
section#products {
    width: 100%;
    height: 4716px;
    align-items: center;
    position: relative;
    display: block;
}

/* items1 */
div.items_1 {
    width: 100%;
    /* min-width: 1600px; */
    height: 895px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

div.items_1 img.mainImg {
    position: absolute;
    margin: 0 1200px 0 0;
}

div.items_1 img.mainImg_2 {
    position: absolute;
    margin: 212px 0 0 1200px;

}

section#products .items_1 img.minLogo {
    position: absolute;
    margin: 90px 0 0 0px;
    width: 110px;
    height: 117px;
}

section#products .items_1 .Ptext1 {
    margin-top: 260px;
    position: absolute;
    margin-left: 0px;
    text-align: center;
    font: 400 18px 'Gowun Dodum', sans-serif;
    line-height: normal;
    letter-spacing: -0.54px;
}

section#products .items_1 a {
    width: 180px;
    height: 70px;
    border-radius: 30px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 70px;
    position: absolute;
    margin-top: 730px;
}

section#products .items_1 a:hover {
    background: rgb(27, 27, 27);
}


/* section#products .items_1 a {
    width: 180px;
    height: 70px;
    border-radius: 30px;
    background: #000;
    position: absolute;
    margin-top: 730px;
    text-align: center;
}

section#products .items_1 a span {
    color: #fff;
    line-height: 70px;
} */

/* start */
/* section#products .items_1 .button {
    position: relative;
    text-align: center;
    margin-top: 730px;
}

section#products .items_1 .button a span {
    z-index: 3;
    color: #fff;
}

section#products .items_1 .button a {
    color: #fff;
    background: #000;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 180px;
    height: 70px;
    border-radius: 30px;
    line-height: 70px;
    border: 1px solid #000;
    transition: all 0.5s;
}

section#products .items_1 .button a:hover {
    color: #fff;
}

section#products .items_1 .button a:before {
    content: "";
    z-index: -1;
    position: absolute;
    background: #fff;
    transition: all 1s;
}

section#products .items_1 .button a:before {
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

section#products .items_1 .button a:hover:before {
    height: 200%;
} */

/* end */

/* items2 */
div.items_2 {
    width: 100%;
    /* min-width: 1600px; */
    height: 895px;
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

div.items_2 img.mainImg {
    position: absolute;
    margin: 0 1200px 0 0;
}

div.items_2 img.mainImg_2 {
    position: absolute;
    margin: 212px 0 0 1200px;

}

section#products .items_2 img.minLogo {
    position: absolute;
    margin: 90px 0 0 0px;
    width: 110px;
    height: 117px;
}

section#products .items_2 .Ptext2 {
    margin-top: 260px;
    position: absolute;
    margin-left: 0px;
    text-align: center;
    font: 400 18px 'Gowun Dodum', sans-serif;
    line-height: normal;
    letter-spacing: -0.54px;
}

section#products .items_2 a {
    width: 180px;
    height: 70px;
    border-radius: 30px;
    background: #BC9C23;
    color: #fff;
    text-align: center;
    line-height: 70px;
    position: absolute;
    margin-top: 750px;
}

section#products .items_2 a:hover {
    background: #caaf4c;
}

/* items3 */
div.items_3 {
    width: 100%;
    /* min-width: 1600px; */
    height: 895px;
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

div.items_3 img.mainImg {
    position: absolute;
    margin: 0 1200px 0 0;
}

div.items_3 img.mainImg_2 {
    position: absolute;
    margin: 212px 0 0 1200px;

}

section#products .items_3 img.minLogo {
    position: absolute;
    margin: 60px 0 0 0px;
    width: 110px;
    height: 117px;
}

section#products .items_3 .Ptext3 {
    margin-top: 230px;
    position: absolute;
    margin-left: 0px;
    text-align: center;
    font: 400 18px 'Gowun Dodum', sans-serif;
    line-height: normal;
    letter-spacing: -0.54px;
}

section#products .items_3 a {
    width: 180px;
    height: 70px;
    border-radius: 30px;
    background: #EC6B27;
    color: #fff;
    text-align: center;
    line-height: 70px;
    position: absolute;
    margin-top: 770px;
}

section#products .items_3 a:hover {
    background: #e68754;
}


/* items4 */
div.items_4 {
    width: 100%;
    /* min-width: 1600px; */
    height: 895px;
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

div.items_4 img.mainImg {
    position: absolute;
    margin: 0 1200px 0 0;
}

div.items_4 img.mainImg_2 {
    position: absolute;
    margin: 212px 0 0 1200px;

}

section#products .items_4 img.minLogo {
    position: absolute;
    margin: 90px 0 0 0px;
    width: 110px;
    height: 117px;
}

section#products .items_4 .Ptext4 {
    margin-top: 270px;
    position: absolute;
    margin-left: 0px;
    text-align: center;
    font: 400 18px 'Gowun Dodum', sans-serif;
    line-height: normal;
    letter-spacing: -0.54px;
}

section#products .items_4 a {
    width: 180px;
    height: 70px;
    border-radius: 30px;
    background: #936052;
    color: #fff;
    text-align: center;
    line-height: 70px;
    position: absolute;
    margin-top: 740px;
}

section#products .items_4 a:hover {
    background: #a77b6f;
}


/* items5 */
div.items_5 {
    width: 100%;
    /* min-width: 1600px; */
    height: 895px;
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

div.items_5 img.mainImg {
    position: absolute;
    margin: 0 1200px 0 0;
}

div.items_5 img.mainImg_2 {
    position: absolute;
    margin: 212px 0 0 1200px;

}

section#products .items_5 img.minLogo {
    position: absolute;
    margin: 90px 0 0 0px;
    width: 110px;
    height: 117px;
}

section#products .items_5 .Ptext5 {
    margin-top: 270px;
    position: absolute;
    margin-left: 0px;
    text-align: center;
    font: 400 18px 'Gowun Dodum', sans-serif;
    line-height: normal;
    letter-spacing: -0.54px;
}

section#products .items_5 a {
    width: 180px;
    height: 70px;
    border-radius: 30px;
    background: #8D8F90;
    color: #fff;
    text-align: center;
    line-height: 70px;
    position: absolute;
    margin-top: 700px;
}

section#products .items_5 a:hover {
    background: #b5babd;
}

.offI {
    border: 1px solid red;
}

/* 스크롤 등장박스 */
.minLogo {
    opacity: 0;
}

.Ptext1,
.Ptext2,
.Ptext3,
.Ptext4,
.Ptext5 {
    opacity: 0;
}

/* showBox */
section:nth-child(1).showBox {
    width: 100%;
    height: 1080px;
}

section:nth-child(2).showBox {
    width: 100%;
    height: 1080px;
}

section:nth-child(3).showBox {
    width: 100%;
    height: 1080px;
}

/* map */
.map {
    width: 100%;
    height: 820px;
    position: relative;
    margin: 0 auto;
    display: block;
    background: url(../images/map_bg_1.jpg)no-repeat center/cover;
    text-align: center;
    background-attachment: fixed;
}

.map h4.logo img {
    margin-top: 196px;
    width: 175px;
    height: 256px;
}

/* map btn */
.map .maptext {
    margin-top: 101px;
    position: relative;
    display: flex;
    justify-content: center;
}

.map_btn a {
    text-align: center;
    line-height: 70px;
    font-size: 15px;
}

.map_btn:nth-child(1) {
    width: 230px;
    height: 70px;
    border-radius: 20px 0px 0px 20px;
    border: 1px solid #FFF;
    box-sizing: border-box;
}

.map_btn:nth-child(1):hover {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
}

.map_btn:nth-child(1) a {
    color: #fff;
}

.map_btn:nth-child(2) {
    width: 230px;
    height: 70px;
    border-radius: 0px 20px 20px 0px;
    background: #fff;
}

.map_btn:nth-child(2):hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.map_btn:nth-child(2) a {
    color: #000;
}

.map_btn:nth-child(3) {
    display: none;
}

/* footer */
footer {
    width: 100%;
    height: 250px;
    background-color: #fff;
    position: relative;
}

footer .footerInner {
    display: flex;
    width: 1730px;
    height: 250px;
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
}

footer .footerInner .blogo {
    width: 67px;
    height: 43.93px;
    margin-top: 65px;
    margin-left: 463px;
}

footer .footerInner .moblieCopy {
    display: none;
}

footer .footerInner .Lcopyright li {
    position: absolute;
    margin-top: 160px;
}

footer .footerInner .Lcopyright li a {
    color: #000;
    font: 400 11px "Noto Sans KR";
    line-height: normal;
    letter-spacing: -0.24px;
}

footer .footerInner .Rcopyright {
    text-align: right;
    margin-top: 160px;
}

footer .footerInner .Rcopyright li a {
    color: #000;
    font: 600 11px "Noto Sans KR";
    line-height: normal;
    letter-spacing: -0.24px;
}

footer .footerInner .Rcopyright li a:nth-child(2):hover,
footer .footerInner .Rcopyright li a:nth-child(3):hover,
footer .footerInner .Rcopyright li a:nth-child(4):hover {
    color: #8D8F90;
}

/* tablet */
@media (max-width: 990px) {
    #wrap header .headerInner {
        width: 90%;
    }

    /* slider */
    div#main_slides {
        width: 100%;
        height: 955px;
    }

    .swiper-slide:nth-child(1) {
        background: url("../images/slider/main_mo_1.jpg")no-repeat center/cover;
    }

    .swiper-slide:nth-child(2) {
        background: url("../images/slider/main_mo_2.jpg")no-repeat center/cover;
    }

    .swiper-slide:nth-child(3) {
        background: url("../images/slider/main_mo_3.jpg")no-repeat center/cover;
    }

    .swiper-slide:nth-child(4) {
        background: url("../images/slider/main_mo_4.jpg")no-repeat center/cover;
    }


    /* main_PD text */
    .main_PD {
        width: 100%;
        height: 500px;
        position: relative;
        padding: 130px 0 0 0;
        display: block;
        background: url(../images/BG_img_02.jpg)no-repeat center/cover;
        text-align: center;
    }

    .main_PD h2 {
        font-size: 38px;
    }

    .main_PD>a {
        font-size: 18px;
    }

    .main_PD .PDtext {
        margin-top: 70px;
        height: 70px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .PD_btn a {
        text-align: center;
        line-height: 60px;
    }

    .PD_btn:nth-child(1) {
        width: 280px;
        height: 60px;
    }

    .PD_btn:nth-child(2) {
        width: 280px;
        height: 60px;
    }

    /* products */
    section#products {
        height: 6500px;
    }

    /* products items */
    /* items1 */
    div.items_1 {
        height: 1300px;
    }

    div.items_1 img.mainImg {
        margin: 0;
    }

    div.items_1 img.mainImg_2 {
        display: none;
    }

    section#products .items_1 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 730px;
    }

    section#products .items_1 .Ptext1 {
        margin-top: 830px;
        font: 400 18px 'Gowun Dodum', sans-serif;
        line-height: 1.1;
    }

    section#products .items_1 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 1160px;
        font-size: 13px;
    }

    /* items2 */
    div.items_2 {
        height: 1300px;
        margin: 0 auto;
    }

    div.items_2 img.mainImg {
        display: none;
    }

    div.items_2 img.mainImg_2 {
        margin: 30px 0 0 0;
    }

    section#products .items_2 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 750px;
    }

    section#products .items_2 .Ptext2 {
        margin-top: 860px;
        font-size: 18px;
        line-height: 1.1;
    }

    section#products .items_2 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 1220px;
        font-size: 13px;
    }

    /* items3 */
    div.items_3 {
        height: 1300px;
        margin: 0 auto;
    }

    div.items_3 img.mainImg {
        margin: 30px 0 0 0;

    }

    div.items_3 img.mainImg_2 {
        display: none;
    }

    section#products .items_3 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 750px;
    }

    section#products .items_3 .Ptext3 {
        margin-top: 840px;
        font-size: 18px;
        line-height: 1;
    }

    section#products .items_3 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 1220px;
        font-size: 13px;
    }

    /* items4 */
    div.items_4 {
        height: 1300px;
        margin: 0 auto;
    }

    div.items_4 img.mainImg {
        display: none;

    }

    div.items_4 img.mainImg_2 {
        margin: 30px 0 0 0;
    }

    section#products .items_4 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 760px;
    }

    section#products .items_4 .Ptext4 {
        margin-top: 860px;
        font-size: 18px;
        line-height: 1;
    }

    section#products .items_4 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 1180px;
        font-size: 13px;
    }

    /* items5 */
    div.items_5 {
        height: 1300px;
        margin: 0 auto;
    }

    div.items_5 img.mainImg {
        margin: 30px 0 0 0;
    }

    div.items_5 img.mainImg_2 {
        display: none;
    }

    section#products .items_5 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 750px;
    }

    section#products .items_5 .Ptext5 {
        margin-top: 850px;
        font-size: 18px;
        line-height: 1;
    }

    section#products .items_5 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 1160px;
        font-size: 13px;
    }

    /* footer */
    footer {
        height: 300px;
    }

    footer .footerInner {
        width: 90%;
        position: relative;
        justify-content: center;
    }

    footer .footerInner .blogo {
        position: absolute;
        margin: 65px 7px 0 0;
    }

    footer .footerInner .Lcopyright li {
        display: none;
    }

    footer .footerInner .Rcopyright {
        display: none;
    }

    footer .footerInner .moblieCopy {
        display: block;
        position: absolute;
        text-align: center;
        margin-top: 140px;
        font: 400 11px "Noto Sans KR";
        line-height: normal;
        letter-spacing: -0.24px;
    }

    footer .footerInner .moblieCopy li a:nth-child(3),
    footer .footerInner .moblieCopy li a:nth-child(4),
    footer .footerInner .moblieCopy li a:nth-child(5) {
        color: #000;
        font-weight: 600;
    }

    footer .footerInner .moblieCopy li a:nth-child(3):hover,
    footer .footerInner .moblieCopy li a:nth-child(4):hover,
    footer .footerInner .moblieCopy li a:nth-child(5):hover {
        color: #8D8F90;
    }

}

/* mobile */
@media(max-width:760px) {

    /* hader menu */
    #wrap header .headerInner {
        width: 90%;
    }

    /* slider */
    div#main_slides {
        width: 100%;
        height: 945px;
    }

    .swiper-slide:nth-child(1) {
        background: url("../images/slider/main_mo_1.jpg")no-repeat center/cover;
    }

    .swiper-slide:nth-child(2) {
        background: url("../images/slider/main_mo_2.jpg")no-repeat center/cover;
    }

    .swiper-slide:nth-child(3) {
        background: url("../images/slider/main_mo_3.jpg")no-repeat center/cover;
    }

    .swiper-slide:nth-child(4) {
        background: url("../images/slider/main_mo_4.jpg")no-repeat center/cover;
    }

    /* animation */
    .waves {
        display: none;
    }

    /* mainPD */
    .main_PD {
        width: 100%;
        height: 940px;
        position: relative;
        padding: 130px 0 0 0;
        display: block;
        background: url(../images/PD_M.jpg)no-repeat center/cover;
        text-align: center;
    }

    .main_PD h2 {
        font: 500 30px/1.2 'Playfair Display', serif;
        margin-bottom: 30px;
    }

    .PD_btn a {
        line-height: 50px;
    }

    .PD_btn:nth-child(1) {
        width: 200px;
        height: 50px;
    }

    .PD_btn:nth-child(2) {
        width: 200px;
        height: 50px;
    }


    /* products */
    section#products {
        height: 5850px;
    }

    /* products items */
    /* items1 */
    div.items_1 {
        height: 1180px;
    }

    div.items_1 img.mainImg {
        margin: 80px 0 0 0;
        width: 385px;
        height: 563px;
    }

    div.items_1 img.mainImg_2 {
        display: none;
    }

    section#products .items_1 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 670px;
    }

    section#products .items_1 .Ptext1 {
        margin-top: 770px;
        font: 400 16px 'Gowun Dodum', sans-serif;
        line-height: 100%;
    }

    section#products .items_1 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 1040px;
        font-size: 13px;
    }

    /* items2 */
    div.items_2 {
        height: 1180px;
        margin: 0 auto;
    }

    div.items_2 img.mainImg {
        display: none;
    }

    div.items_2 img.mainImg_2 {
        margin: 30px 0 0 0;
        width: 385px;
        height: 563px;
    }

    section#products .items_2 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 630px;
    }

    section#products .items_2 .Ptext2 {
        margin-top: 730px;
        font: 400 16px 'Gowun Dodum', sans-serif;
        line-height: 100%;
    }

    section#products .items_2 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 1020px;
        font-size: 13px;
    }

    /* items3 */
    div.items_3 {
        height: 1180px;
        margin: 0 auto;
    }

    div.items_3 img.mainImg {
        margin: 30px 0 0 0;
        width: 385px;
        height: 563px;

    }

    div.items_3 img.mainImg_2 {
        display: none;
    }

    section#products .items_3 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 620px;
    }

    section#products .items_3 .Ptext3 {
        margin-top: 720px;
        font: 400 16px 'Gowun Dodum', sans-serif;
        line-height: 100%;
    }

    section#products .items_3 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 1050px;
        font-size: 13px;
    }

    /* items4 */
    div.items_4 {
        height: 1180px;
        margin: 0 auto;
    }

    div.items_4 img.mainImg {
        display: none;

    }

    div.items_4 img.mainImg_2 {
        margin: 30px 0 0 0;
        width: 385px;
        height: 563px;
    }

    section#products .items_4 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 620px;
    }

    section#products .items_4 .Ptext4 {
        margin-top: 720px;
        font: 400 16px 'Gowun Dodum', sans-serif;
        line-height: 100%;
    }

    section#products .items_4 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 1020px;
        font-size: 13px;
    }

    /* items5 */
    div.items_5 {
        height: 1180px;
        margin: 0 auto;
    }

    div.items_5 img.mainImg {
        margin: 30px 0 0 0;
        width: 385px;
        height: 563px;


    }

    div.items_5 img.mainImg_2 {
        display: none;
    }

    section#products .items_5 img.minLogo {
        width: 60px;
        height: 67px;
        margin-top: 620px;
    }

    section#products .items_5 .Ptext5 {
        margin-top: 720px;
        font: 400 16px 'Gowun Dodum', sans-serif;
        line-height: 100%;
    }

    section#products .items_5 a {
        width: 150px;
        height: 50px;
        line-height: 50px;
        margin-top: 980px;
        font-size: 13px;
    }

    /* map */
    .map {
        height: 720px;
    }

    .map h4.logo img {
        margin-top: 140px;
        width: 135px;
        height: 216px;
    }

    /* map btn */
    .map .maptext {
        flex-direction: column;
        align-items: center;
    }

    .map_btn a {
        line-height: 60px;
        font-size: 14px;
        color: #fff;
    }

    .map_btn:nth-child(1) {
        width: 220px;
        height: 60px;
        border-radius: 20px;
    }

    .map_btn:nth-child(2) {
        display: none;
    }

    .map_btn:nth-child(3) {
        display: block;
    }

    .map_btn:nth-child(3) a:hover {
        color: #8D8F90;
        text-decoration: underline;
    }


    /* footer */
    footer {
        height: 300px;
    }

    footer .footerInner {
        width: 90%;
        position: relative;
        justify-content: center;
    }

    footer .footerInner .blogo {
        position: absolute;
        margin: 65px 0 0 0;
    }

    footer .footerInner .Lcopyright li {
        display: none;
    }

    footer .footerInner .Rcopyright {
        display: none;
    }

    footer .footerInner .moblieCopy {
        display: block;
        position: absolute;
        text-align: center;
        margin-top: 140px;
        font: 400 11px "Noto Sans KR";
        line-height: normal;
        letter-spacing: -0.24px;
    }

    footer .footerInner .moblieCopy li a:nth-child(3),
    footer .footerInner .moblieCopy li a:nth-child(4),
    footer .footerInner .moblieCopy li a:nth-child(5) {
        color: #000;
        font-weight: 600;
    }

    footer .footerInner .moblieCopy li a:nth-child(3):hover,
    footer .footerInner .moblieCopy li a:nth-child(4):hover,
    footer .footerInner .moblieCopy li a:nth-child(5):hover {
        color: #8D8F90;
    }

}